---
title: Umas e outras
layout: base.njk
---
      
<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">Boas vindas, viventes!</h1>
        <p>Ô, cumpadi, tu sabia que tem um tal de blog de um jornalista conhecido, que trabalhou aqui no vale por tempão? Bem nessas! E ele tá compartilhando as opiniões dele sobre as coisas importantes que aconteceram aqui por essas bandas.</p>
        <p>Como eu já vi muita coisa nessa vida, acho que vale a pena dar uma olhada nos blogs dele e ver o que esse sujeito tem pra dizer. Vamo lá conferi junto comigo!</p>
        <div class="flex-group">
          <a href="#featured-articles" class="btn btn--primary">Últimos artigos</a>
          <a href="./blog" class="btn btn--neutral">Todos artigos</a>
        </div>
      </div>
      <div>
        <img src="/assets/pai-caricatura.png" alt="" class="hero__image">
      </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Últimos artigos</h2>
    <p class="text-center">Here is a sample of articles which I feel give you a good idea of what this site is all about.</p>
    <ul role="list" class="articles__list flow">
      {%- for post in collections.featured | reverse -%}
        {% include 'article-snippet.njk' %}
      {%- endfor %}
    </ul>
  </div>
</section> 